<br><br>
<div class="row">
  <div class="col col-lg-4 offset-lg-4 col-md-6 offset-md-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row" *ngIf="submitting">
          <div class="col col-lg-2 offset-lg-5 col-md-6 offset-md-3">
            <mat-spinner></mat-spinner>
          </div>
        </div>
      <form (submit)="loginUser(siteForm)" #siteForm="ngForm" *ngIf="! submitting">
        <mat-form-field>

          <input
          type="email"
          matInput
          ngModel
          name="email"
          required
          minlength=3
          #email="ngModel"
          placeholder="Enter Email"
          >
          <mat-error *ngIf="email.invalid">Please enter valid email</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>

          <input
          type="password"
          matInput
          ngModel
          name="password"
          required
          minlength=3
          #password="ngModel"
          placeholder="Enter Password"
          >
          <mat-error *ngIf="email.invalid">Please enter your password</mat-error>
        </mat-form-field>
        <br><br>
        <button mat-raised-button color="primary" type="submit" style="margin-right: 5px;" *ngIf="!submitting">Login</button>
        <button mat-raised-button color="primary" type="submit" style="margin-right: 5px; color:#fff; background-color: #6c757d;" disabled *ngIf="submitting">Login</button>
        <button mat-raised-button color="accent" type="button" routerLink="">Back</button>
    </form>
    </mat-card-content>
    </mat-card>
  </div>

</div>


