:host{
  display: block;
  margin-top: 1rem;
}
.info-text{
  text-align: center;
}

.red{
  color:red;
}
.green{
  color:green;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.blink{
  color:green;
  animation: blink 2s ease-in infinite;
}
.black{
  color:#212529;
}

@keyframes blink {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}

.panel{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:5px;
}


