:host{
  display: block;
  margin-top: 1rem;
}
.info-text{
  text-align: center;
}

.red{
  color:red;
}
.green{
  color:green;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.blink{
  color:green;
  animation: blink 2s ease-in infinite;
}
.black{
  color:#212529;
}

@keyframes blink {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}


