<div class="row">
  <div class="col lg-12">
    <h2>Tests:
      <button mat-raised-button
      type="button"
      color="accent"
      style="float: right; background-color: #17a2b8;"
      *ngIf="! dashboard"
      (click)="addTest()">
        Create Test</button>
    </h2>
  </div>
</div>
<div class="row" *ngIf="createTest" >
  <div class="col lg-12">
    <mat-card>
      <mat-card-header style="background-color: #17a2b8 !important;">
        <mat-card-title>New Test</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <div class="row">
            <div class="col col-lg-4 col-md-6">
              <mat-form-field class="col col-lg-12">
                <input
                type="text"
                matInput
                [(ngModel)]="newTest.name"
                name="testName"
                required
                minlength=3
                #testName="ngModel"
                placeholder="Test Name"
                >
                <mat-error *ngIf="testName.invalid">Please enter a test name</mat-error>
              </mat-form-field>
            </div>
            <div class="col col-lg-3 col-md-6">
              <mat-form-field class="col col-lg-12">
                <mat-label>Test Frequency</mat-label>
                <mat-select
                ngModel
                required
                name="frequency"
                #frequency="ngModel"
                [(ngModel)]="newTest.frequency"
                >
                  <mat-option value="minutes">15 Minutes</mat-option><!--*ngFor="let test of site.tests; let i = index"-->
                  <mat-option value="hours">Hour</mat-option>
                  <mat-option value="days">Day</mat-option>
                </mat-select>
                <mat-error *ngIf="frequency.invalid">Please select a frequency</mat-error>
              </mat-form-field>
            </div>
            <div class="col col-lg-3 col-md-6">
              <mat-form-field class="col col-lg-12">
                <mat-label>Success Criteria</mat-label>
                <mat-select
                ngModel
                required
                name="expected_status_code"
                #status="ngModel"
                [(ngModel)]="newTest.expected_status_code"

                >
                  <mat-option *ngFor="let statusCode of statusCodes;"
                  [value]="statusCode.code">{{statusCode.code}} - {{statusCode.text}}
                </mat-option>

                </mat-select>
                <mat-error *ngIf="status.invalid">Please select a status</mat-error>
              </mat-form-field>
            </div>
            <div class="col col-lg-4 col-md-6">
              <mat-form-field class="col col-lg-12">
                <input
                type="text"
                matInput
                [(ngModel)]="newTest.url"
                name="url"
                required
                minlength=3
                #url="ngModel"
                placeholder="Enter Test Url"
                >
                <mat-error *ngIf="url.invalid">Please enter valid url</mat-error>
              </mat-form-field>
            </div>
            <div class="col col-lg-12">
              <mat-form-field class="col col-lg-12">
                <mat-label>Curl Request</mat-label>
                <textarea matInput rows="4"></textarea>
              </mat-form-field>

            </div>
          </div>


        <br><br>
        <button mat-raised-button color="primary" type="button" (click)="uploadTest()">Submit</button>
        <button mat-raised-button color="warn" type="button" (click)="createTest = false" style="margin-left: 5px;">Cancel</button>

    </mat-card-content>
    </mat-card>
  </div>
  <hr>
</div>

<div class="row" *ngIf="site && site.tests.length > 0">
  <div class="col lg-12">
    <table class="table table-striped table-hover">
      <thead *ngIf="! dashboard">
        <tr>
          <th scope="col">Name</th>
          <th *ngIf="! dashboard" scope="col">Frequency</th>
          <th *ngIf="! dashboard" scope="col">Success</th>
          <th scope="col">Last Ran</th>
          <th *ngIf="! dashboard" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of site.tests; let i = index">
          <th scope="row" >{{test.name}}</th>
          <td *ngIf="! dashboard">{{test.frequency_amount}} - {{test.frequency}}</td>
          <td *ngIf="! dashboard">{{formatCode(test.expected_status_code)}}</td>
          <td>
              {{getLastRanTime(test.latest)}}
              <mat-icon aria-hidden="true" aria-label="Status"
              [className]="testStatusClass(test.latest)"
              style="margin-right: 15px; float:right"
              [matTooltip]="getStatusMssg(test.latest)"
              >
                circle
              </mat-icon>

          </td>
          <td *ngIf="! dashboard">

            <button mat-raised-button [matMenuTriggerFor]="menu" type="button" color="primary">Actions</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item type="button" (click)="run(test)">Run</button>
              <button mat-menu-item type="button" [routerLink]="'../../'+test.app_id+'/tests/'+test.id">Edit</button>
              <button mat-menu-item type="button" (click)="deleteTest(test)">Delete</button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
