
<div class="row">
  <div class="col col-lg-4 offset-lg-4 col-md-6 offset-md-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create New User</mat-card-title>

      </mat-card-header>
      <form (submit)="onAddUser(userForm)" #userForm="ngForm">
        <mat-form-field>

          <input
            type="text"
            matInput
            ngModel
            name="name"
            required
            minlength=3
            #name="ngModel"
            placeholder="Enter Name"
          >
          <mat-error *ngIf="name.invalid">Please enter valid name</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>

          <input
            type="email"
            matInput
            ngModel
            name="email"
            required
            minlength=3
            #email="ngModel"
            placeholder="Enter Email"
          >
          <mat-error *ngIf="email.invalid">Please enter valid email</mat-error>
        </mat-form-field>
        <br><br>
        <button mat-raised-button color="primary" type="submit">Save User</button>
        <button mat-raised-button color="warn" style="margin-left: 5px;" (click)="cancel()">Cancel</button>
      </form>

    </mat-card>
  </div>
</div>

