<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<br><br>
  <div class="row">
    <div class="col col-lg-4 offset-lg-4 col-md-6 offset-md-3">
      <div class="panel">
        <div class="panel-header">
          <h2 style="text-align: center;">Create an Account</h2>
        </div>
        <div class="panel-body">
          <div class="row" *ngIf="loading">
            <div class="col col-lg-2 offset-lg-5 col-md-6 offset-md-3">
              <mat-spinner></mat-spinner>
            </div>
          </div>
        <form (submit)="loginUser(siteForm)" #siteForm="ngForm" *ngIf="! loading">

          <mat-form-field>

            <input
            type="text"
            matInput
            ngModel
            name="fullname"
            required
            minlength=3
            #name="ngModel"
            placeholder="Full Name"
            >
            <mat-error *ngIf="name.invalid">Please enter your name!</mat-error>
          </mat-form-field>
          <mat-form-field>

            <input
            type="email"
            matInput
            ngModel
            name="email"
            required
            minlength=3
            #email="ngModel"
            placeholder="Enter Email"
            >
            <mat-error *ngIf="email.invalid">Please enter valid email</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>

            <input
            type="password"
            matInput
            ngModel
            name="password"
            required
            minlength=3
            #password="ngModel"
            placeholder="Enter Password"
            >
            <mat-error *ngIf="email.invalid">Please enter your password</mat-error>
          </mat-form-field>
          <mat-form-field>

            <input
            type="text"
            matInput
            ngModel
            name="account"
            required
            minlength=3
            #account="ngModel"
            placeholder="Account Name"
            >
            <mat-error *ngIf="account.invalid">Please enter your account!</mat-error>
          </mat-form-field>
          <br><br>
          <button mat-raised-button color="primary" type="submit">Signup</button>
          <button mat-raised-button color="accent" type="button" routerLink="" style="margin-left:5px;">Back</button>
          <span style="margin-left: 5px;">Already have an account? <a href="login">Login</a></span>
      </form>
        </div>
      </div>

    </div>

  </div>

