
mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.mat-raised-button.mat-primary{
  background-color: #1976d2;
}


mat-card-content{
  padding: 10px;
  text-align: center;
}
mat-card-title{
  text-align: center;
  width: 100%;
}

.mat-card-header-text {
  margin: 0 16px;
  width: 100% !important;
  text-align: center;
}


mat-card{
  padding:0;
}
.mat-card>:first-child, .mat-card-content>:first-child {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mat-toolbar.mat-primary, .mat-raised-button.mat-primary{
  background-color: #1976d2;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}
.mat-toolbar-single-row{
background-color: white;
margin-top: -1rem;
}
h3, h2{
  font-weight: 500;

}

